<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome, new user!</h1>
    <p>
      <%= @user.email %>, join us in creating a vibrant wiki atmosphere!
    </p>
    <p>
      You signed up using <%= @user.email %>. You will be using this email next time to log in.
    </p>
  </body>
</html>